{% extends "base.html" %}

{% block title %}
    {{data["title"]}} 
{% endblock title %}

{% block body %}
    SEARCH-DETAIL.HTML

    <div class="image">
        <h1>{{ data["title"] }}</h1>
        <img src="{{data['main_picture']['large'] }}" alt="{{ data['title']}}">
    </div>

    <div class="info">
        <p><span class="bolded">Date Aired:</span> {{ data['start_date'] }}</p>
        <p><span class="bolded">Status: </span> {{data['status']}}</p>

        <p><span class="bolded">Synosis:</span> {{ data['synopsis'] }}</p>
    </div>
    
{% endblock body %}

{% block footer %}
    <p>Data sourced from <a href="https://myanimelist.net/" target="_blank">MyAnimeList</a>.</p>
{% endblock footer %}   